.govbh-datatable__table{
  thead tr th{
    background: var(--bh-bg-brand);
    color: var(--bh-light);
    font-weight: var(--bh-fw-bold);
    font-size: var(--bh-fs-p-m);
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid var(--bh-bg-secondary);
    &:first-child{
      border-top-left-radius: var(--bh-border-radius-xs);
    }
    &:last-child{
      border-top-right-radius: var(--bh-border-radius-xs);
    }
  }
}
.dt-layout-table .dt-layout-full{
    overflow-x: auto;
    overflow-y: hidden;
}
table.table.dataTable.fixedHeader-floating > :not(caption) > * > *{
  background: var(--bh-bg-brand);
}
.dt-column-title{
  background: var(--bh-bg-brand);
}
.govbh-datatable{
  position: relative;
  overflow: hidden;
  &.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .dt-filters{
    display: none;
  }
  table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date{
    text-align: start;
  }
  .govbh-datatable__table,table{
    width: 100%;
    border-collapse: collapse !important;
    vertical-align: middle;
    thead tr th{
      background: var(--bh-bg-brand);
      color: var(--bh-light);
      font-weight: var(--bh-fw-bold);
      font-size: var(--bh-fs-p-m);
      padding: 12px;
      border: 1px solid var(--bh-bg-secondary);
      &:first-child{
        border-top-left-radius: var(--bh-border-radius-xs);
      }
      &:last-child{
        border-top-right-radius: var(--bh-border-radius-xs);
      }
      .govbh-datatable__table--check{
        input[type="checkbox"]{
          &:checked + label{
            &:before{
              background-color: var(--bh-bg-light-brand);
            }
            &:after{
              color: var(--bh-brand);
            }
          }
        }
      }
    }
    tbody tr {
      .dtr-control{
        display: flex;
        align-items: center;
        &:before{
          
        }
      }
      &.child{
        ul.dtr-details{
          width: 100%;
          li{
            display: flex;
            align-items: center;
            gap:5px;
            &::before{
              content:none;
            }
            .dtr-title{
              color: var(--bh-brand);
            }
          }
        }
      }
      &:nth-child(even){
        td{
          background-color: var(--bh-bg-secondary);
        }
      }
      &:hover{
        td{
          background-color: var(--bh-info-off);
        }
      }
      td{
        color: var(--bh-secondary);
        font-size: var(--bh-fs-p-m);
        padding: 12px;
        border: 1px solid var(--bh-bg-secondary);   
        background: var(--bh-bg-primary);
        .content{
          height: auto!important;
        }
      }  
    }
    th,td{
      text-align: start;
    }
    .govbh-datatable__table--check{
      input[type="checkbox"]{
          display: none;
          &:checked + label{
              color: var(--bh-secondary);
              &:after{
                  //background-color: var(--bh-bg-brand);
                  transform: scale(1);
              }
              &:before{
                  border: 1px solid var(--bh-bg-inverse-accent);
                  background-color: var(--bh-bg-inverse-accent);
              }
          }
          & + label{
              padding: 0px;
              margin: 0;
              height: 16px;
              width: 16px;
              position: relative;
              font-size: var(--bh-fs-p-m);
              font-weight: var(--bh-fw-regular);
              @include transition(0.5s);
              color: var(--bh-secondary);
              cursor: pointer;
              &:before{
                  content: '';
                  position: absolute;
                  top: 1px;
                  left: 0;
                  width: 16px;
                  height: 16px;
                  border-radius: var(--bh-border-radius-xs);
                  border: 1px solid var(--bh-border-primary);
                  background:var(--bh-bg-primary);
                  @include transition(0.5s);
              }
              &:after{
                  content: '\e182';
                  font-family: Phosphor-Bold;
                  font-size: 12px;
                  color: var(--bh-light);
                  position: absolute;
                  top: 1px;
                  left: 0;
                  width: 16px;
                  height: 16px;
                  border-radius: var(--bh-border-radius-xs);
                  //border: 1px solid var(--bh-border-brand);
                  background:transparent;
                  @include transition(0.5s);
                  transform: scale(0);
                  display: flex;
                  align-items: center;
                  justify-content: center;
              }
              &:hover{
                  color: var(--bh-accent);
              }
          }
      }
    }
  }
  .govbh-datatable__table--success {
    display: flex;
    align-items: center;
    gap: 6px;
    i{
      color: var(--bh-success);
      font-size: 20px;
      font-weight: bold;
    }
  }
  .govbh-datatable__table--failure {
    display: flex;
    align-items: center;
    gap: 6px;
    i{
      color: var(--bh-failure);
      font-size: 20px;
    }
  }
  .no-sort{
    .dt-column-order{
      display: none !important;
    }
  }
  .dt-info {
    font-size: var(--bh-fs-p-s);
  }
  .dt-container{
    div.dt-paging ul.pagination{
      gap: 5px 5px;
      li{
        position: relative;
        .page-link{
          height: 36px;
          min-width: 38px;
          padding:0 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2px 2px;
          width: 100%;
          color: var(--bh-brand);
          font-size: var(--bh-fs-p-s);
          text-decoration: none;
          background:var(--bh-bg-primary);
          border-radius: var(--bh-border-radius-xs);
          border: 1px solid var(--bh-border-secondary);
          @media #{$xm}{
            height: 30px;
            min-width: 32px;
          }
          i{
              color: var(--bh-accent);
              @include transition(0.3s);
          }
          &:hover{
            color: var(--bh-light);
            background-color: var(--bh-bg-inverse-accent);
            border: 1px solid var(--bh-bg-inverse-accent);
            i{
              color: var(--bh-light);
            }
          }
        }
        &.disabled{
          opacity: 0.5;
          pointer-events: none;
        }
        &.active{
          .page-link{
            color: var(--bh-light);
            background-color: var(--bh-bg-inverse-accent);
            border: 1px solid var(--bh-bg-inverse-accent);
            i{
              color: var(--bh-light);
            }
          }
        }
      }
    }
    .search-filter-col{
      display: flex;
      align-items: end;
      justify-content: end;
      gap:8px 15px;
      flex-wrap: wrap;
      @media #{$xs}{
        justify-content: center;
        margin-top: 20px;
      }
    }
    .dt-search{
      position: relative;
      max-width: 200px;
      width: 100%;
      @media #{$xss}{
        max-width: 100%;
      }
      label{
        position: absolute;
        left: 0;
        top: 0px;
        height: 100%;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--bh-fs-p-xl);
        color: var(--bh-brand);
      }
      input{
        border: 1px solid var(--bh-border-primary);
        color: var(--bh-secondary);
        background: var(--bh-bg-primary);
        width: 100%;
        min-width: 150px;
        height: 44px;
        min-height: auto;
        padding: 10px 15px;
        margin: 0;
        font-size: var(--bh-fs-p-m);
        line-height: 1.2;
        font-weight: var(--bh-fw-regular);
        // box-shadow: none;
        outline: none;
        border-radius: var(--bh-border-radius-xs);
        @include transition(0.5s);
        padding-inline-start: 40px;
        @include placeholder {
            opacity: 0.6;
        }
      }
    }
    .form-label-group{
      position: relative;
      max-width: 200px;
      width: 100%;
      @media #{$xss}{
        max-width: 100%;
      }
      label{
        top: -10px;
        left: 10px;
        background: var(--bh-bg-primary);
        padding: 0px 5px;
        font-size: var(--bh-fs-p-xs);
        color: var(--bh-secondary);
        position: absolute;
      }
      .form-select{
        background-color: var(--bh-bg-primary);
        border: 1px solid var(--bh-border-primary);
        color: var(--bh-secondary);
        width: 100%;
        min-width: 150px;
        height: 44px;
        min-height: auto;
        padding: 10px 15px;
        font-size: var(--bh-fs-p-m);
        line-height: 1.2;
        font-weight: var(--bh-fw-regular);
        // box-shadow: none;
        outline: none;
        border-radius: var(--bh-border-radius-xs);
        option{
          font-family: var(--bh-ff-primary);
        }
      }
    }
    .dt-length{
      label{
        font-size: var(--bh-fs-p-s);
      }
      .form-select{
        background-color: var(--bh-bg-primary);
        border: 1px solid var(--bh-border-primary);
        color: var(--bh-secondary);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin: 0 6px;
        height: 44px;
      }
    }
  }
}
.dt-column-order,.no-truncate{
  &:focus-visible{
      box-shadow: 0 0px 0px 3px var(--bh-focus) inset;
      outline: none;
  }
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control::before {
  border: none;
  font-family: "Phosphor-Bold" !important;
  font-size: 12px;
  color: var(--bh-light);
  min-width: 15px;
  height: 15px;
  background: var(--bh-bg-brand);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,.95);
  width: 15px;
  content: "\E3D4";
  margin: 0;
  margin-inline-end: .8em;
  padding: 9px;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.dtr-expanded > td.dtr-control::before, table.dataTable.dtr-inline.collapsed > tbody > tr.dtr-expanded > th.dtr-control::before {
  content: "\E32A";
  border: none;
  background: var(--bh-bg-accent);
}
.view-all {
  display: none;
}
.govbh-datatable__table--button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:10px;
}
.govbh-datatable__table--check{
  label{
    padding: 0px;
    margin: 0;
    height: 16px;
    width: 16px;
    position: relative;
    font-size: var(--bh-fs-p-m);
    font-weight: var(--bh-fw-regular);
    @include transition(0.5s);
    color: var(--bh-secondary);
    cursor: pointer;
    &:before{
        content: '';
        position: absolute;
        top: 1px;
        left: 0;
        width: 16px;
        height: 16px;
        border-radius: var(--bh-border-radius-xs);
        border: 1px solid var(--bh-border-primary);
        background:var(--bh-bg-primary);
        @include transition(0.5s);
    }
    &:after{
        content: '\e182';
        font-family: Phosphor-Bold;
        font-size: 12px;
        color: var(--bh-light);
        position: absolute;
        top: 1px;
        left: 0;
        width: 16px;
        height: 16px;
        border-radius: var(--bh-border-radius-xs);
        //border: 1px solid var(--bh-border-brand);
        background:transparent;
        @include transition(0.5s);
        transform: scale(0);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:hover{
        color: var(--bh-accent);
    }
  }
}
table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order::before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order::before, table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order::before, table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order::before {
  content: "▲";
}
table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order::after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order::after, table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order::after, table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order::after {
  content: "▼";
}